<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="DropShield_Connector::config" title="DropShield Connector Configuration"/>
                        </resource>
                    </resource>
                </resource>
                <resource id="DropShield_Connector::protected_drops" title="Manage DropShield Protected Drops" sortOrder="10"/>
                <resource id="DropShield_Connector::protection_manifest" title="Read DropShield Protection Manifest" sortOrder="20"/>
            </resource>
        </resources>
    </acl>
</config>
