<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Quote\Api\CartItemRepositoryInterface">
        <plugin name="dropShieldCartItemAssertion" type="DropShield\Connector\Plugin\CartItemRepositoryPlugin" sortOrder="10"/>
    </type>
    <type name="Magento\Quote\Api\CartManagementInterface">
        <plugin name="dropShieldPlaceOrderAssertion" type="DropShield\Connector\Plugin\CartManagementPlugin" sortOrder="10"/>
    </type>
    <type name="Magento\QuoteGraphQl\Model\Cart\AddProductsToCart">
        <plugin name="dropShieldGraphQlCartAddAssertion" type="DropShield\Connector\Plugin\QuoteGraphQlAddProductsToCartPlugin" sortOrder="10"/>
    </type>
    <type name="Magento\Checkout\Model\AddProductToCart">
        <plugin name="dropShieldStorefrontCartAddAssertion" type="DropShield\Connector\Plugin\CheckoutAddProductToCartPlugin" sortOrder="10"/>
    </type>
</config>
